In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor

In [142]:
df_train = pd.read_excel('data/Data_Train.xlsx')

In [143]:
df_train.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625

In [144]:
df_train['Destination'].replace({'New Delhi' : 'Delhi'}, inplace = True)

In [145]:
df_train.Total_Stops.fillna('non-stop', inplace = True)

In [153]:
df_train['Total_Stops'].replace({'non-stop' : '0 stop'}, inplace = True)

In [147]:
df_train.Route.fillna('BLR → DEL', inplace = True)

In [148]:
df_train['Additional_Info'].replace({'No info' : 'No Info'}, inplace = True)

In [149]:
from sklearn.preprocessing import LabelEncoder

In [150]:
la = LabelEncoder()
la.fit(df_train.Airline)
df_train.Airline = la.transform(df_train.Airline)

In [151]:
lc = LabelEncoder()
lc.fit(['Banglore', 'Chennai', 'Delhi', 'Kolkata', 'Cochin', 'Hyderabad', 'Mumbai'])
df_train.Source = lc.transform(df_train.Source)
df_train.Destination = lc.transform(df_train.Destination)

In [154]:
lts = LabelEncoder()
lts.fit(['0 stop', '1 stop', '2 stops', '3 stops', '4 stops', '5 stops'])
df_train.Total_Stops = lts.transform(df_train.Total_Stops)

In [155]:
lai = LabelEncoder()
lai.fit(df_train.Additional_Info)
df_train.Additional_Info = lai.transform(df_train.Additional_Info)

In [156]:
lts.classes_

array(['0 stop', '1 stop', '2 stops', '3 stops', '4 stops', '5 stops'],
      dtype='<U7')

In [157]:
df_train.Route = df_train.Route.str.split(' → ')

In [137]:
df_train.Route[0][0]

'BLR'

In [158]:
city_code = set()
for i in range(len(df_train)):
    del df_train.Route[i][0]
    del df_train.Route[i][-1]
    for j in range(len(df_train.Route[i])):
        city_code.add(df_train.Route[i][j])

In [159]:
len(city_code)

42

In [160]:
df_train.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,3,24/03/2019,0,3,[],22:20,01:10 22 Mar,2h 50m,0,6,3897
1,1,1/05/2019,5,0,"[IXR, BBI]",05:50,13:15,7h 25m,2,6,7662
2,4,9/06/2019,3,2,"[LKO, BOM]",09:25,04:25 10 Jun,19h,2,6,13882
3,3,12/05/2019,5,0,[NAG],18:05,23:30,5h 25m,1,6,6218
4,3,01/03/2019,0,3,[NAG],16:50,21:35,4h 45m,1,6,13302
5,8,24/06/2019,5,0,[],09:00,11:25,2h 25m,0,6,3873
6,4,12/03/2019,0,3,[BOM],18:55,10:25 13 Mar,15h 30m,1,5,11087
7,4,01/03/2019,0,3,[BOM],08:00,05:05 02 Mar,21h 5m,1,6,22270
8,4,12/03/2019,0,3,[BOM],08:55,10:25 13 Mar,25h 30m,1,5,11087
9,6,27/05/2019,3,2,[BOM],11:25,19:15,7h 50m,1,6,8625

In [118]:
df_train.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64